[defaults]
interpreter_python = ~/pythonvenv/default/bin/python3
inventory = ./configs/envbase/,./configs/envtest/inventory/
collections_path = ~/.ansible/collections:~/pythonvenv/default/lib/python3.12/site-packages

[collections]
paths = ~/.ansible/collections:~/pythonvenv/default/lib/python3.12/site-packages