config:
  core.https_address: 127.0.0.1:9443
  images.auto_update_interval: 15

networks:
- name: phys-br
  type: macvlan
  config:
    parent: {{ tp_incus_netconfig.physical_network_parent }}
- name: iso-nat
  type: bridge
  config:
    ipv4.address: 10.100.0.1/24
    ipv4.dhcp: true
    ipv4.nat: true
    ipv6.address: none
    ipv6.nat: false

storage_pools:
- name: incus-images
  driver: lvm
  config:
    source: {{ tp_incus_config.storage_images.volume_group }}
    lvm.use_thinpool: true
    lvm.vg.force_reuse: true
    lvm.thinpool_name: {{ tp_incus_config.storage_images.volume }}
- name: incus-instances
  driver: lvm
  config:
    source: {{ tp_incus_config.storage_instances.volume_group }}
    lvm.use_thinpool: true
    lvm.vg.force_reuse: true
    lvm.thinpool_name: {{ tp_incus_config.storage_instances.volume }}

projects:
- name: default
  config:
    features.images: true
    features.networks: true
    features.profiles: true
    features.storage.volumes: true
    limits.disk: {{ tp_incus_config.project_disk_limits.default }}
    restricted: true
    restricted.networks.access: iso-nat
  description: Default project for VMs with global network access and default limits
- name: production
  config:
    features.images: true
    features.networks: false
    features.profiles: true
    features.storage.volumes: true
    limits.disk: {{ tp_incus_config.project_disk_limits.production }}
    restricted: true
    restricted.networks.access: phys-br,iso-nat
  description: Production VMs with bridged networking and higher storage limits

profiles:
- name: default
  description: "Default profile for VMs with NAT networking and {{ tp_incus_config.profile_disk_sizes.default }} root disk"
  devices:
    root:
      path: /
      pool: incus-instances
      type: disk
      size: {{ tp_incus_config.profile_disk_sizes.default }}
    eth0:
      name: eth0
      network: iso-nat
      type: nic
  config:
    boot.autostart: false
    security.privileged: false
    security.protection.delete: false
- name: defaultlan
  description: "LAN profile for VMs with bridged networking and {{ tp_incus_config.profile_disk_sizes.production }} root disk"
  devices:
    root:
      path: /
      pool: incus-instances
      type: disk
      size: {{ tp_incus_config.profile_disk_sizes.production }}
    eth0:
      name: eth0
      network: phys-br
      type: nic
  config:
    boot.autostart: false
    security.privileged: false
    security.protection.delete: false
