{
  "root":          "{{ _stepca_steppath }}/certs/root_ca.crt",
  "federatedRoots": [],
  "crt":           "{{ _stepca_steppath }}/certs/intermediate_ca.crt",
  "key":           "{{ _stepca_steppath }}/secrets/intermediate_ca_key",
  "address":       ":443",
  "dnsNames":      ["{{ step_ca_hostname }}"],
  "logger":        { "format": "text" },
  "db": {
    "type":          "badgerv2",
    "dataSource":    "{{ _stepca_steppath }}/db",
    "badgerFileLoadingMode": "FileIO"
  },
  "authority": {
    "provisioners": [],
    "claims": {
      "minTLSCertDuration":     "5m",
      "maxTLSCertDuration":     "{{ step_ca_leaf_validity_days }}h0m0s",
      "defaultTLSCertDuration": "{{ step_ca_leaf_validity_days }}h0m0s"
    }
  },
  "tls": {
    "cipherSuites": [
      "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256",
      "TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384"
    ],
    "minVersion":          1.2,
    "maxVersion":          1.3,
    "renegotiation":       false
  }
}
