architecture: x86_64
config:
  # CPU and Memory limits
  limits.cpu: "{{ truenas_cpu_cores }}"
  limits.memory: "{{ truenas_memory_gb }}GB"
  user.vendor-data: |
    #cloud-config
    datasource:
      None: {}
  
  # Boot configuration
  boot.autostart: "true"
  boot.autostart.priority: "10"

devices:
  # Root filesystem disk
  root:
    type: disk
    path: /
    pool: {{ storage_pool }}
    size: {{ truenas_system_disk_gb }}GB
  
  # Installation media (TrueNAS ISO from storage pool)
  install-media:
    type: disk
    pool: {{ storage_pool }}
    source: truenas-install-iso
    boot.priority: 10
  
  # Primary network interface
  eth0:
    type: nic
    network: {{ truenas_network_bridge }}
    name: eth0

{% if pcie_passthrough_enabled and pcie_controller_id != "" %}
  # PCIe passthrough for SATA controller
  sata-controller:
    type: pci
    address: {{ pcie_controller_id }}
{% endif %}

ephemeral: false
profiles:
- default
stateful: true
description: TrueNAS Scale VM - {{ truenas_vm_name }}
type: virtual-machine
