config:
  core.https_address: 127.0.0.1:9443
  images.auto_update_interval: 15

networks:
- name: incsext
  type: macvlan
  config:
    parent: {{ tp_incus_netconfig.physical_network_parent }}
- name: incusint
  type: bridge
  config:
    ipv4.address: auto
    ipv4.dhcp: true
    ipv4.nat: true
    ipv6.address: none
    ipv6.nat: false

storage_pools:
- name: incus-images
  driver: lvm
  config:
    source: {{ tp_incus_config.storage_images.volume_group }}
    lvm.use_thinpool: true
    lvm.vg.force_reuse: true
    lvm.thinpool_name: {{ tp_incus_config.storage_images.volume }}
- name: incus-instances
  driver: lvm
  config:
    source: {{ tp_incus_config.storage_instances.volume_group }}
    lvm.use_thinpool: true
    lvm.vg.force_reuse: true
    lvm.thinpool_name: {{ tp_incus_config.storage_instances.volume }}

projects:
- name: default
  config: {}
  description: Default Incus project

profiles:
- name: default
  description: "Standards for local virtual machines"
  devices:
    root:
      path: /
      pool: incus-instances
      type: disk
    eth0:
      name: eth0
      network: incusint
      type: nic