d-i debian-installer/locale string en_US.UTF-8
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/layoutcode string us
d-i keyboard-configuration/xkb-keymap select us
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string {{ param_hostname }}
d-i netcfg/get_domain string {{ param_localdomain }}
d-i netcfg/dhcp_timeout string 60
d-i netcfg/dhcp_failed note
d-i netcfg/dhcp_options select Do not configure the network at this time

d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean true

d-i passwd/root-login boolean false
d-i passwd/make-user boolean true
d-i passwd/user-fullname string {{ param_root_user_fullname }}
d-i passwd/username string {{ param_root_user }}
d-i passwd/user-password-crypted password {{ param_root_user_password }}

d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/choose_partition select finish
d-i partman-basicfilesystems/no_swap boolean false
d-i partman-auto/disk string {{ disk_config.root_partition.device }}
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

d-i partman-auto/expert_recipe string \
      boot-root-lvm :: \
              512 512 512 fat32 \
                      $primary{ } \
                      method{ efi } \
                      format{ } \
              . \
              1024 1024 1024 ext4 \
                      $primary{ } \
                      $bootable{ } \
                      method{ format } \
                      format{ } \
                      use_filesystem{ } \
                      filesystem{ ext4 } \
                      mountpoint{ /boot } \
              . \
              {{ disk_config.root_partition.size_MB }} {{ disk_config.root_partition.size_MB }} {{ disk_config.root_partition.size_MB }} ext4 \
                      $primary{ } \
                      method{ format } \
                      format{ } \
                      use_filesystem{ } \
                      filesystem{ ext4 } \
                      mountpoint{ / } \
              . \
{% for partition in disk_config.volume_group_partitions %}
              1000 10000 1000000000 ext4 \
                      $primary{ } \
                      method{ lvm } \
                      device{ {{ partition.device }} } \
{% if not loop.last %}
                      $lvmignore{ } \
{% endif %}
                      vg_name{ {{ volume_group_name }} } \
              . \
{% endfor %}

d-i partman-auto-lvm/guided_size string max
d-i partman-auto-lvm/new_vg_name string {{ volume_group_name }}

{% for vol_name, vol_config in disk_config.volume_group_volumes.items() %}
d-i partman-auto-lvm/new_logical_volume string {{ vol_name }}
{% if vol_config.all_remaining_space is defined and vol_config.all_remaining_space %}
d-i partman-auto-lvm/lv_{{ vol_name }}_size string max
{% else %}
d-i partman-auto-lvm/lv_{{ vol_name }}_size string {{ vol_config.size_MB }}MB
{% endif %}
d-i partman-auto-lvm/lv_{{ vol_name }}_filesystem string ext4
d-i partman-auto-lvm/lv_{{ vol_name }}_mountpoint string /var/lib/{{ vol_name }}
{% endfor %}

# Package selection
d-i pkgsel/include string {{ param_packages|join(' ') }} unattended-upgrades apt-listchanges
d-i pkgsel/upgrade select full-upgrade
d-i pkgsel/update-policy select unattended-upgrades

# Grub configuration
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default

# Avoid that last message about the install being complete
d-i finish-install/reboot_in_progress note

# This is how to make the installer shut up about weak passwords
d-i user-setup/allow-password-weak boolean true

# This command is run just before the install finishes
d-i preseed/late_command string \
  in-target mkdir -p /home/{{ param_root_user }}/.ssh; \
  in-target echo '{{ param_root_user_publickey }}' > /home/{{ param_root_user }}/.ssh/authorized_keys; \
  in-target chown -R {{ param_root_user }}:{{ param_root_user }} /home/{{ param_root_user }}/.ssh; \
  in-target chmod 700 /home/{{ param_root_user }}/.ssh; \
  in-target chmod 600 /home/{{ param_root_user }}/.ssh/authorized_keys; \
  in-target sed -i 's/#PasswordAuthentication yes/PasswordAuthentication no/' /etc/ssh/sshd_config; \
  in-target sed -i 's/#PermitRootLogin prohibit-password/PermitRootLogin no/' /etc/ssh/sshd_config; \
  in-target systemctl enable ssh; \
  in-target apt-get update; \
  in-target apt-get -y upgrade; \
  in-target echo 'APT::Periodic::Update-Package-Lists "1";' > /etc/apt/apt.conf.d/20auto-upgrades; \
  in-target echo 'APT::Periodic::Unattended-Upgrade "1";' >> /etc/apt/apt.conf.d/20auto-upgrades; \
  in-target echo 'APT::Periodic::AutocleanInterval "7";' >> /etc/apt/apt.conf.d/20auto-upgrades;