interface={{ edge_wifi_adapter }}
ssid={{ edge_local_wifi_name }}
hw_mode=g
channel=6
auth_algs=1
ignore_broadcast_ssid=0
wpa=2
wpa_psk={{ wpa_passphrase }}
wpa_key_mgmt=WPA-PSK
wpa_pairwise=CCMP
rsn_pairwise=CCMP
{% if edge_bridge_name is defined and edge_bridge_name|length > 0 %}
bridge={{ edge_bridge_name }}
{% endif %}